body {
	background-color: darkcyan;
}

#logo {
	opacity: 0.4;
}

#container {
	text-align: center;
	background-image: linear-gradient(to right, red , darkcyan);
	padding: 20px;
}

h1 {
	display: inline-block;
	color: #313;
	padding: 15px;
	border: 5px 5px 1px solid red ;
	background-image: linear-gradient(to left, #a55 , #55a);
	margin: 0px;
	border-radius:30px 30px 0 0 ;
}

h2 {
	display: inline-block;
	background-image: linear-gradient(to right, #a55 , #55a);
	padding: 15px;
	color: #515;
	border: 1px 5px 5px solid red ;
	border-radius:0 0 30px 30px ;
	margin: 0px;
}
nav {
	background-color: darkcyan;
	height: 38px;
}
nav a  {
	margin-left: 16vw;
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	background-color: palevioletred;
	color: white;
}
nav a:hover {
	background-color: blueviolet;
	color: white;
}

section {
	position: relative;
	top:0px;
	background-image: radial-gradient(gold , silver , darkcyan );
	padding: 2.5vh;
	text-align: center;
}

section p {
	font-size: 2em;
	color: #354;
}
section p span {
	color: #374;
}

section button {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	opacity: 0.8;
	border-radius: 0  6px 0 0;
}

section button:hover{
	opacity:1;
	background-color: silver;

}
form {
	background-color: blueviolet;
	text-align: center;

}

form input, form select {
	width: 23vw;
	margin: 15px 0px 10px;
	background-color: cyan;

}
[type="submit"] {
	background-color: #5d5;
	padding: 10px;
}
section table {
	display: inline-block;
	padding: 5vw;
	background-color: rgba(100,100,200,0.7);
	border-radius: 15px;

}
th {
	border-bottom: 2px solid violet;
	padding: 5px;
}
td {
	padding: 5px;
	background-color: cyan;
}


@media screen and (max-width: 768px) {
	form input, form select {
		width: 49vw;
	}

	th:last-child, td:last-child {
		display: none;
	}
	#tablecont, table {
		padding: 0px;
	}
}
