section {
	position: relative;
	top:0px;
	background-image: linear-gradient(-30deg, gold , darkcyan);
	padding: 2.5vh;
	text-align: center;
}

section p {
	opacity: 0;
}
section button {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	opacity: 0.8;
	border-radius: 0  6px 0 0;
}

section button:hover{
	padding: 10px;
	opacity:1;
	background-color: silver;
}

section form{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px 0;
	

}

div {
	text-align: center;
}

div form:fist-child {
	padding-top: 10px;
}

div form:last-child {
	padding-bottom: 10px;
}




.row {
	border-top: 4px solid black;
}

.row:nth-child(2n+1) {
	background-image: linear-gradient(gold , violet);;
}

.row:nth-child(2n) {
	background-image: linear-gradient(violet, gold);;
}

.row input {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}

.row input, .row button {
	display: block;
	margin: 8px auto;
	text-align: center;
	font-size: 1.1em;
}

.row input:nth-child(4) {
	font-size: 1.3em;
	font-weight: bolder;
}

@media screen and (min-width: 768px) {
	.row input, .row form, .row button {
		display: inline-block;
		font-size: 1em;
	}

	#formInput form {
		margin: 0 5vw 5vh;
	}
}